<h1>Create a new discussion</h1>

<div class="create">
<form action="" method="post">
    <input type="text" name="title" placeholder="Title" class="create__title">
    <textarea name="message" placeholder="Message" class="create__text"></textarea>
    <input type="submit" value="Publish" class="button__create">
</form>
</div>