<div class="button__back"><a href="/discussions/overview">Back to discussions</a></div>

<div class="discussion__overview">
<div class="discussion__intro">
    <h3>{{title}}</h3>
    <div class="discussion__message">{{message}}</div>
</div>

<div id="questions">
{{#each question}}
        <div class="question__posted">
            <div class="question__title">
                <h3>{{this.question}}</h3>
            </div>

            <form action="" method="post">
                <input type="text" name="del" value="{{this.id}}" hidden="hidden">
                <input type="submit" value="Del" class="del">
            </form>
        </div>
{{/each}}
</div>

<div class="form__question">
    <form action="" method="post" id="qform">
        <textarea name="question" placeholder="Question" class="ask__text" id="m"></textarea>
        <input type="submit" value="Ask">
    </form>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
    var socket = io();
    $('#qform').submit(function(){
        socket.emit('chat message', $('#m').val());
    });

    socket.on('chat message', function(msg){
        var appendh2 = '<div class=“question_title”><h3>'+msg+'</h3></div>';
        $('#questions').append(appendh2);



    });


</script>