<h1 class="h1">Discussions</h1>

{{#each data}}
    <div class="discussion">
        <a href="/discussions/{{this.id}}">
            <div class="discussion__title">{{this.title}}</div>
            <div class="discussion__message">{{this.message}}</div>
        </a>
    </div>
{{/each}}

<a href="/discussions/create">
    <p class="create__p">Create Discussion</p>
</a>