<h2>Account Login</h2>

<div class="form__login">
<form method="post" action="/">
    <div class="form__username">
        <label>Username</label>
        <input type="text" class="form__input" name="username" placeholder="Username">
    </div>
    <div class="form__password">
        <label>Password</label>
        <input type="password" class="form__input" name="password" placeholder="Password">
    </div>
    <button type="submit" class="button__submit">Submit</button>
    <a href="/register">Register</a>
</form>
</div>