<h2 class="title">Account Login</h2>

<form method="post" action="/">
    <div class="form__username">
        <label>Username</label>
        <input type="text" class="form__input" name="username" placeholder="Username">
    </div>
    <div class="form__password">
        <label>Password</label>
        <input type="password" class="form__input" name="password" placeholder="Password">
    </div>
    <button type="submit" class="button__submit">Submit</button>
</form>