<div class="back"><a href="/">Back to discussion</a></div>

<div class="wrap-title-discussion">
    <h1>{{question}}</h1>
</div>

<div class="line-gray"></div>
{{#each answers}}
    <p>{{this.answer}}</p>
{{/each}}



<script>

    // Button ask a question
    $(".btn-ask-question").click(function(){
        $(".btn-ask-question").hide();
        $(".question").show();
    });

    // Button give an answer
    $(".btn-give-answer").click(function(){
        $(this).parent().find(".btn-give-answer").hide();
        $(this).parent().find(".answer").show();
    });

</script>
<script src="http://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
    var socket = io();

    socket.on("connect", function(data){
        $(".users").append("<p>TEST</p>");
    });
</script>

