<h2 >Sign Up</h2>

<div class="form__register">
<form method="post" action="/register">
    <div class="form__register__name">
        <label>Name</label>
        <input type="text" placeholder="Name" name="name">
    </div>
    <div class="form__register__username">
        <label>Username</label>
        <input type="text" placeholder="Username" name="username">
    </div>
    <div class="form__register__email">
        <label>Email</label>
        <input type="email" placeholder="Email" name="email">
    </div>
    <div class="form__register__password">
        <label>Password</label>
        <input type="password"  placeholder="Password" name="password">
    </div>
    <div class="form__register__confirmp">
        <label>Confirm Password</label>
        <input type="password"  placeholder="Password" name="password2">
    </div>
    <button type="submit" class="button__submit">Submit</button>
</form>

</div>